body{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-image: url("dummy images/bg1.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  
}
/*----navbar--*/
.navbar{
    border:1px solid rgb(8, 8, 8);
    border: none;
    background-color:transparent;
    overflow: hidden;
}
.img1{
    margin:auto;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
   margin-right: 80px;
    border: 2px solid transparent;
    opacity: 1;
    color:black
}
.nav-link:hover{
    border-bottom: 2px solid gainsboro;
}

 .btn21{
    background-color: goldenrod;
    color: hsl(0, 0%, 5%);
    border: 2px solid rgb(247, 250, 247);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    height: 45px;
    font-weight: 700;
 }
 .title{
    font-weight: 700;
    color: white;
    padding: 80px;
font-size: 40px;
}
.s-title{
    color:rgb(255, 62, 4);
    padding: 30px;
    font-weight: 700;
}
.para{
    color: floralwhite;
    padding: 30px;
    font-weight: 500;
}
.icons{
    border: 1px solid wheat;
    border: none;
    width: 100%;
    margin: auto;
    padding: 50px;
}
.i1{
    border-radius: 17px;
    justify-content: space-evenly;
    opacity: 0.9;
    
 }
 .i1:hover{
    opacity: 1;
    border: 2px solid white;
 }

 .moreapps{
    border: 3px solid gold;
    background-color: transparent;
    
    width: 160px;
    margin: auto;
    height: 50px;
    border-radius: 15px;
    
 }
 .moreapps a{
    text-decoration: none;
    color: rgb(243, 243, 242);
    font-size: 20px;
    font-weight: 300;
 }
 .moreapps:hover{
    background-color: #0a0a0a;
    border: 3px solid rgb(250, 249, 246);
    
 }
 .navbar1{
    border:1px solid rgb(184, 158, 158);
    border: none;
    background-color:rgb(17, 17, 17);
    overflow: hidden;
    padding: 20px;
    padding-left:40px;
    border-radius: 30px;
}
.btnall{
    width:100% ;
    border: 2px solid olive;
   margin: auto;
    border-radius: 20px;
    color: aliceblue;
    background-color:#0a0a0a;
    font-weight: 700;
}
.btnall:hover{
    background-color: azure;
    color: #0a0a0a;
    border: 2px solid black;
}
.btn3{
  background-color: white;
  color: #0a0a0a;
  margin: auto;
  width: auto;
  border-radius: 5px;
}
.btn3:hover{
    background-color: #0a0a0a;
    color: azure;
}
.btn4{
    background-color:rgb(15, 15, 15);
    color: hsl(0, 33%, 98%);
    border: 2px solid rgb(247, 250, 247);
    margin: auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    height: 30px;
    font-weight: 700;
   

}
.btn4:hover{
    color:black;
    background-color: white;
    border: 3px solid black;

}
.btn5{
    width: 100%;
    color: white;
    background-color: 	rgb(38, 38, 38);
    font-weight: 700;
    border-radius: 20px;
}
.btn5:hover{
color: black;
background-color: whitesmoke;
}
.This-Year{
background-color: whitesmoke;
color:darkblue;
border-radius: 5px;
font-weight: 500;
}
.This-Year:hover{
    background-color: darkblue;
    color: whitesmoke;
}
.col{
    border: 1px solid wheat;
    margin:auto;
    width: 100%;
    border: none;
    padding: 70px;
}

.irow{
    margin: auto;
    border-radius: 17px;
    justify-content: space-evenly;
    opacity: 0.9;
    border: 1px solid wheat;
    border: none;
    margin-left: 10px;
    padding: auto;
    
 }
 .irow:hover{
    opacity: 1;
    border: 2px solid white;
 }


 .footer{
    max-width:70% ;
    margin: 1rem auto;
    position: relative;
    
 }
 .footer,
 footer a{
     color: gray;
     font-size: 1rem;
    text-decoration: none;
    overflow-x:scroll;
 }
 .con{
     list-style: none;
 }
 .footer .footer-cols{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-gap: 6rem;
 }
 .footer li{
     line-height: 2;
 }
 b{
     font-size: 20px;
     color: yellow;
 }
 .footer a:hover{
     color: whitesmoke;
 
 }



 
